html, body {
    height: 100%;
}
/* video {    
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
} */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: .35rem;
    text-align: center;
    line-height: 22rem;
}
/* video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
} */
.zl_layout {
    height: 100%;
    position: relative;
    z-index: 5;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}


/* 首屏 */
.home {
	background: url(../images/indexBG.png) no-repeat center/cover;
  position: relative;
  overflow: hidden;
}
.homeleft-bg{
  width: 60%;
  height: 55%;
  background: url(../images/homeleft.png) no-repeat;
  background-size:100% 100%;
  position: relative;
}
.homefont{
  width: 58%;
  height: 23%;
  background: url(../images/homefont.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -20px;
}
.homeright{
  width: 65%;
  height: 40%;
  position: absolute;
  right: 0;
  top: 20%;
}
.Slogan{
  width: 100%;
  height: 42%;
  background: url(../images/slogan.png) no-repeat right;
  background-size: 94% 100%;
}
.detailed{
  text-indent:2em;
  font-size: 0.4rem;
  line-height: 0.46rem;
  margin: 0.1rem;
  color: #fbcb7e;
  margin: -0.8rem 0.26rem 0 0;
}
.player{
  width: 4.4rem;
  height: 4.4rem;
  margin: -1.2rem auto 0 auto;
  position: relative;
}
.sphere{
  width: 4.4rem;
  height: 4.4rem;
  background: url(../images/sphere.png) no-repeat;
  background-size: 100% 100%;
}
.spherebg{
  width: 8rem;
  height: 8.4rem;
  background: url(../images/spherebg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -0.4rem;
  left: -1rem;
}
.playbtn{
  width: 2rem;
  height: 2rem;
  background: url(../images/playbtn.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.downloadBtn{
  position: relative;
  z-index: 2;
  margin-top: 1.4rem;
}
.downloadBtn .btn{
  display: block;
  margin: 0 auto 0.4rem auto;
  width: 6rem;
  height: 1.4rem;
  background-size: 100% 100%;
}
.iosBtn{
  background: url(../images/ios.png) no-repeat;
}
.androidBtn{
  background: url(../images/android.png) no-repeat;
}

/* 游戏特色 */
.feature {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.feature ul,.slide-bg{
  width: 100%;
  height: 100%;
}
.feature ul{
  position: relative;
  height: 100%;
  overflow: hidden;
}
.f-one{
  top: -57%;
  height: 40%;
  background: url(../images/f1.png) no-repeat center/cover;
  z-index: 20;
}
.f-two{
  top: 5%;
  background: url(../images/f2.png) no-repeat center/cover;
  z-index: 10;
}
.f-three{
  bottom: -57%;
  background: url(../images/f3.png) no-repeat center/cover;
  z-index: 20;
}
.slide-bg{
  height: 90%;
  position: absolute;
  left: 0;
}
.f-one span{
  left: 0.4rem;
  top: 65%;
  background: url(../images/logo-s1.png) no-repeat;
}
.f-two span{
  top: 33%;
  right: 0.4rem;
  background: url(../images/logo-s2.png) no-repeat;
}
.f-three span{
  left: 0.4rem;
  bottom: 65%;
  background: url(../images/logo-s3.png) no-repeat;
}
.slide-bg span{
  display: block;
  /*width: 6.2rem;
  height: 6.8rem;*/
  width: 50%;
  height: 34%;
  background-size: 100% 100%;
  position: absolute;
}
.feature .slide-bg{
  transition: all .5s;
}
.feature .slide-bg:before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  transition: all .5s;
}
.feature .slide-bg.hover:before{
  background: rgba(0,0,0,0);
}
.feature ul li.hover span{
  opacity: 0;
}
.f-one.hover{
  top: -1.6rem;
}
.f-three.hover{
  bottom: -1.6rem;
}
.f-three.active{
  bottom: -82%;
}
.f-one.active{
  top: -82%;
}
.f-two.active span{
  top: 17.4rem;
}


/*第三屏*/
.swiper-slide-3{
  background: url(../images/slideBg3.png) no-repeat;
  background-size:100% 100%;
  overflow: hidden;
}
.pic-scroll{
    margin: 1.2rem auto 0 auto;
    width: 74%;
    height: 22%;
    position: relative;
}
.pic-scroll ul{
  height: 100%;
}
.pic-scroll .c{
  margin: 0 auto;
  /*width: 9rem;
  height: 4.6rem;*/
  width: 100%;
  height: 100%;
  background: url(../images/center-bg.png) no-repeat;
  background-size: 100% 100%;
}
.Key{
  position: absolute;
  left: 4rem;
  top: 0.2rem;
  display: block;
  width: 1rem;
  height: 1.2rem;
  background: url(../images/key-icon.png) no-repeat;
  background-size: 100% 100%;
}
.pic-scroll .L,.pic-scroll .r{
  /*height: 5.6rem;
  width: 0.4rem;*/
  height: 122%;
  width: 4%;
  position: absolute;
  top: -0.5rem;
}
.pic-scroll .L{
  background: url(../images/left-icon.png) no-repeat;
  background-size: 100% 100%;
  left: 0;
}
.pic-scroll .r{
  background: url(../images/right-icon.png) no-repeat;
  background-size: 100% 100%;
  right: 0;
}
.pic-scroll h4{
  font-size: 0.54rem;
  color: #d6af81;
  text-shadow: 0.1px 0px 0px black;
  text-align: center;
  margin: 0.12rem auto;
}
.pic-scroll p{
  font-size: 0.4rem;
  color: #684c40;
  text-indent: 2em;
  padding: 0 0.5rem 0.4rem 0.5rem;
}
.pic-scroll .txt{
  position: absolute;
  top: 7%;
  width: 100%;
  height: 100%;
}
.pic-scroll .txt .img {
  width: 1rem;
  height: 1.2rem;
  margin: 0 auto;
}
.pic-scroll .txt .txt-bor:nth-child(1) .img {
  background: url(../images/icon-tongguan-open.png) no-repeat center/contain;
}
.pic-scroll .txt .txt-bor:nth-child(2) .img {
  background: url(../images/icon-gongxun-open.png) no-repeat center/contain;
}
.pic-scroll .txt .txt-bor:nth-child(3) .img {
  background: url(../images/icon-miyao-open.png) no-repeat center/contain;
}
.pic-scroll .txt .txt-bor:nth-child(4) .img {
  background: url(../images/icon-nengliang-open.png) no-repeat center/contain;
}
.pic-scroll .txt .txt-bor:nth-child(5) .img {
  background: url(../images/icon-weijifen-open.png) no-repeat center/contain;
}
.pic-scroll .txt .txt-bor:nth-child(6) .img {
  background: url(../images/icon-jimou-open.png) no-repeat center/contain;
}
.pic-scroll .txt .txt-bor{
  width: 100%;
  position: absolute;
  top: -5%;
  left: 0;
  display: none;
}
.pic-scroll .txt .txt-bor.active{
  display: block;
}
.model{
width: 100%;
    height: 100%;
    position: relative;
    margin-top: -.5rem;
}
.model li{
  position: absolute;
  top: 42%;
  left: 50%;
  border-radius: 50%;
  border: 1px solid #fed472;
  transform: translate(-50%,-50%);
}
.model .li1{
  /*width: 7.2rem;
  height: 8rem;*/
  width: 52%;
  height: 33%;
  border: none;
  border-radius: 50%;
  background: url(../images/li1.png);
  background-size: 100% 100%;
}
.model .li2{
  /*width: 11.4rem;
  height: 11.4rem;*/
  width: 92%;
  height: 52%;
  z-index: 2;
}
.model .li3{
  /*width: 16rem;
  height: 16rem;*/
  width: 127%;
  height: 73%;
  border: 1px dashed #fed472;
  z-index: 1;
}
.model .li2 span{
  width: 2.6rem;
  height: 2.6rem;
  display: block;
  background-size: 100% 100%;
  position: absolute;
}
.model .li2 span i{
  position: absolute;
}
.model .li2 .plot{
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: block;
  background-size: 100% 100%;
  box-shadow: 0px 9px 25px rgba(50,25,19,0.53);
}
.model .li2 .text{
  font-size: 0.52rem;
  color: #d6af81;
  text-shadow: 0px 1px 0px rgba(50,25,19,0.69);
}

.model .li2 span:nth-child(1){
  left: 42%;
  top: -9%;
}
.model .li2 span:nth-child(1) .text{
  bottom: 0.2rem;
  left: -0.2rem;
}
.model .li2 span:nth-child(1) .plot{
  background-image: url(../images/s1.png);
}
.model .li2 span:nth-child(2){
  left: 85%;
  top: 16%;
}
.model .li2 span:nth-child(2) .text{
  top: 0.6rem;
  left: -1.1rem;
}
.model .li2 span:nth-child(2) .plot{
  background-image: url(../images/s2.png);
}
.model .li2 span:nth-child(3){
  left: 86%;
  top: 69%;
}
.model .li2 span:nth-child(3) .text{
  top: 0.2rem;
  left: -1.1rem;
}
.model .li2 span:nth-child(3) .plot{
  background-image: url(../images/s3.png);
}
.model .li2 span:nth-child(4){
  left: 42%;
  top: 93%;
}
.model .li2 span:nth-child(4) .text{
  top: -0.8rem;
  left: 0.2rem;
}
.model .li2 span:nth-child(4) .plot{
  background-image: url(../images/s4.png);
}
.model .li2 span:nth-child(5){
  left: -1%;
  top: 66%;
}
.model .li2 span:nth-child(5) .text{
  top: 0.2rem;
  right: -0.6rem;
}
.model .li2 span:nth-child(5) .plot{
  background-image: url(../images/s5.png);
}
.model .li2 span:nth-child(6){
  left: 0%;
  top: 17%;
}
.model .li2 span:nth-child(6) .text{
  top: 0.6rem;
  right: -0.1rem;
}
.model .li2 span:nth-child(6) .plot{
  background-image: url(../images/s6.png);
}

/*第四屏*/
.swiper-slide-4{
  background: url(../images/slideBg4.png) no-repeat;
  background-size: 100% 100%;
  /*position: relative;*/
  overflow: hidden;
}

.card-logo-box{
  height: 75%;
  position: relative;
}
.card-logo-box .c1{
  /*top: 4.8rem;
  left: 5rem;*/
  top: 29%;
  left: 40%;
}
.card-logo-box .c2{
  /*bottom: 2rem;
  left: 1.6rem;*/
  bottom: 12%;
  left: 13%;
}
.card-logo-box .c3{
  /*bottom: 2rem;
  right: 1.6rem;*/
  bottom: 12%;
  right: 13%;
}
.card-logo-box .c1 .sl{
  /*bottom: -2.4rem;
  left: -3.1rem;*/
  bottom: -60%;
  left: -111%;
  background: url(../images/sl1.png);
  background-size: 100% 100%;
}
.card-logo-box .c2 .sl{
  /*bottom: -2.4rem;
  left: -1.84rem;*/
  bottom: -60%;
  left: -68%;
  background: url(../images/sl2.png);
  background-size: 100% 100%;
}
.card-logo-box .c3 .sl{
  /*bottom: -2.4rem;
  left: -4.3rem;*/
  bottom: -59%;
  left: -157%;
  background: url(../images/sl3.png);
  background-size: 100% 100%;
}

.card-logo-box .c1 .sc{
  background: url(../images/card1.png);
  background-size: 100% 100%;
}
.card-logo-box .c2 .sc{
  background: url(../images/card2.png);
  background-size: 100% 100%;
}
.card-logo-box .c3 .sc{
  background: url(../images/card3.png);
  background-size: 100% 100%;
}
.card-logo{
  /*width: 2.8rem;
  height: 4rem;*/
  width: 22%;
  height: 24%;
  position: absolute;
}
.card-logo .sl{
  /*width: 8.8rem;
  height: 7.4rem;*/
  width: 326%;
  height: 187%;
}
.card-logo .sc{
  /*width: 2.8rem;
  height: 4rem;*/
  width: 100%;
  height: 100%;
}
.card-logo span{
  display: block;
  position: absolute;
}
.card-logo .sr{
  /*width: 5.6rem;
  height: 5.6rem;*/
  width: 204%;
  height: 142%;
  bottom: -66%;
  left: -55%;
  /*bottom: -2.6rem;
  left: -1.5rem;*/
  
}
.card-logo-box .c1 .sr{
  background: url(../images/halo1.png) no-repeat;
  background-size: 100% 100%;
}
.card-logo-box .c2 .sr{
  background: url(../images/halo2.png) no-repeat;
  background-size: 100% 100%;
}
.card-logo-box .c3 .sr{
  background: url(../images/halo3.png) no-repeat;
  background-size: 100% 100%;
}

.card-content{
  /*padding: 1rem 0.6rem;
  width: 11.7rem;
  height: 5rem;*/
  padding: 8% 6%;
  width: 95%;
  height: 23%;
  margin: 0.12rem auto 0 auto;
  background: url(../images/scroll.png) no-repeat;
  background-size: 100% 100%;
}
.card-pos{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card-content ul{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/*.card-content .card1{
  display: block;
}*/

.card-content ul.active{
  display: block;
}

.card-content li{
  float: left;
  /*width: 1.86rem;
  height: 3rem;*/
  height: 97%;
  width: 17%;
  margin: 0 0.12rem;
}
.card-content .card1 li:nth-child(1){
  background: url(../images/card1-1.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card1 li:nth-child(2){
  background: url(../images/card1-2.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card1 li:nth-child(3){
  background: url(../images/card1-3.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card1 li:nth-child(4){
  background: url(../images/card1-4.png) no-repeat;
  background-size: 100% 100%;
}

.card-content .card2 li:nth-child(1){
  background: url(../images/card2-1.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card2 li:nth-child(2){
  background: url(../images/card2-2.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card2 li:nth-child(3){
  background: url(../images/card2-3.png) no-repeat;
  background-size: 100% 100%;
}

.card-content .card3 li:nth-child(1){
  background: url(../images/card3-1.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card3 li:nth-child(2){
  background: url(../images/card3-2.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card3 li:nth-child(3){
  background: url(../images/card3-3.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card3 li:nth-child(4){
  background: url(../images/card3-4.png) no-repeat;
  background-size: 100% 100%;
}
.card-content .card3 li:nth-child(5){
  background: url(../images/card3-5.png) no-repeat;
  background-size: 100% 100%;
}


/*第五屏*/
.detailPop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
  background: url(../images/slideBg5.png) no-repeat;
  background-size: 100% 100%;
}
.detailPop .swiper-button-disabled {
  opacity: .3;
}
.detailPop .close-btn {
  width: 1rem;
  height: 1rem;
  background: url(../images/detail-close-btn.png) no-repeat center;
  background-color:  #06061C;
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 99;
}
.banner{
  width: 100%;
  height: 44%;
  position: relative;
}
.banner .ban{
  display: block;
  position: absolute;
}
.ban-left,.ban-right{
  width: 3.8rem;
  height: 6.8rem;
  top: 0.4rem;
}
.ban-left{
  left: 1.4rem;
  background: url(../images/ban-L.png) no-repeat;
  background-size: 100% 100%;
}
.ban-right{
  right: 1.4rem;
  background: url(../images/ban-R.png) no-repeat;
  background-size: 100% 100%;
}
.ban.ban-center{
  bottom: -0.8rem;
  left: -0.7rem;
  width: 14rem;
  height: 11.4rem;
}
.ban-center i{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14rem;
  height: 11.4rem;
}
.ban-center i:nth-child(2){
  left: 1.8rem !important;
}
.ban-center i:nth-child(2) {
  left: -2rem !important;
}
.ban-center i:nth-child(1){
  background: url(../images/sl1.png) no-repeat;
  background-size: 100% 100%;
}
.ban-center i:nth-child(2){
  background: url(../images/sl2.png) no-repeat;
  background-size: 100% 100%;
}
.ban-center i:nth-child(3){
  background: url(../images/sl3.png) no-repeat;
  background-size: 100% 100%;
}
.slide-card{
  width: 3.2rem;
  height: 5.4rem;
  bottom: 2.6rem;
  left: 0.48rem;
  background: url(../images/card1-11.png) no-repeat;
  background-size: 100% 100%;
}
.card-ring{
  width: 8rem;
  height: 8rem;
  bottom: -1.2rem;
  left: 2.4rem;
  background: url(../images/halo1.png) no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}
.card-left-pot,.card-right-pot{
  width: 0.44rem;
  height: 0.8rem;
  position: absolute;
  z-index: 100;
}
.card-left-pot{
  top: 3.5rem;
  left: 1.9rem;
  background: url(../images/L6.png) no-repeat;
  background-size: 100% 100%;
}
.card-right-pot{
  top: 3.5rem;
  right: 1.9rem;
  background: url(../images/R6.png) no-repeat;
  background-size: 100% 100%;
}

.detail-slide .pai{    
    width: 3.87rem;
    height: 5.5rem;
    margin: 0 auto;
    margin-top: 1.2rem;
}

.attack-slide .pai1 {
    background: url(../images/card-attack-wanduo-big.png) no-repeat center/contain;
}
.attack-slide .pai2 {
    background: url(../images/card-attack-duoyao-big.png) no-repeat center/contain;
}
.attack-slide .pai3 {
    background: url(../images/card-attack-juedou-big.png) no-repeat center/contain;
}
.attack-slide .pai4 {
    background: url(../images/card-attack-pofang-big.png) no-repeat center/contain;
}

.defense-slide .pai1 {
    background: url(../images/card-defanse-zhuanshang-big.png) no-repeat center/contain;
}
.defense-slide .pai2 {
    background: url(../images/card-defanse-huanshi-big.png) no-repeat center/contain;
}
.defense-slide .pai3 {
    background: url(../images/card-defanse-xiaohao-big.png) no-repeat center/contain;
}

.control-slide .pai1 {
    background: url(../images/card-control-chihuan-big.png) no-repeat center/contain;
}
.control-slide .pai2 {
    background: url(../images/card-control-jingu-big.png) no-repeat center/contain;
}
.control-slide .pai3 {
    background: url(../images/card-control-shikong-big.png) no-repeat center/contain;
}
.control-slide .pai4 {
    background: url(../images/card-control-toutian-big.png) no-repeat center/contain;
}
.control-slide .pai5 {
    background: url(../images/card-control-zengxiao-big.png) no-repeat center/contain;
}

.detail-slide .guang1 {
    top: 1.5rem;
    position: absolute;
    width: 100%;
    height: 8rem;
    bottom: -1.2rem;
    left: 0;
    background-size: 100% 100%;
    z-index: -1;
}

.attack-slide .guang1 {   
    background: url(../images/trick-detail-light-attack.png) no-repeat center/contain;
}
.defense-slide .guang1 {   
    background: url(../images/trick-detail-light-defense.png) no-repeat center/contain;
}
.control-slide .guang1 {   
    background: url(../images/trick-detail-light-control.png) no-repeat center/contain;
}
.detail-slide .guang2{
    top: 2.5rem;
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: -1.2rem;
    left: 2.4rem;
    background-size: 100% 100%;
    z-index: 10;
}

.attack-slide .guang2 {   
    background: url(../images/halo1.png) no-repeat center/contain;
}
.defense-slide .guang2 {   
    background: url(../images/halo2.png) no-repeat center/contain;
}
.control-slide .guang2 {   
    background: url(../images/halo3.png) no-repeat center/contain;
}
.card-introduce{
    width: 12rem;
    left: -102%;
    position: absolute;
    color: #eba363;
    font-size: 0.54rem;
    padding: 0.4rem 1.2rem;
    padding-top: 5.3rem;
}
.card-introduce li{
    /* font-size: .4rem; */
  margin-bottom: 0.25rem;
}
.card-introduce li p{
    line-height: 0.64rem;
    font-size: .4rem;
}
.max-size{
  font-size: 0.68rem;
}
.font-white{
  color: whitesmoke;
}

.card-introduce li:last-child {
  width: 2.9rem;
  height: 1.6rem;
  background: #000;
  position: relative;
}
.card-introduce li:last-child .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2.9rem;
  height: 1.34rem;
  background: url(../images/movie-bg.png) no-repeat center/contain;
}

.card-introduce li:last-child .play-btn{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2.9rem;
  height: 1.34rem;
  background: url(../images/playbtn.png) no-repeat center/contain;
}



/*第六屏*/
.swiper-slide-6{
  background: url(../images/slideBg6.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.competition-box{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.pos{
  position: absolute;
}
.R-sample{
  /*top: 2rem;
  right: -3.3rem;
  width: 5.6rem;
  height: 11rem;*/
  width: 134%;
  height: 49%;
  top: 8%;
  right: -81%;
}
.w-slide-1 .R-sample{
  background: url(../images/phone-icon1.png) no-repeat;
  background-size: 100% 100%;
}
.w-slide-2 .R-sample{
  background: url(../images/phone-icon2.png) no-repeat;
  background-size: 100% 100%;
}
.w-slide-3 .R-sample{
  background: url(../images/phone-icon3.png) no-repeat;
  background-size: 100% 100%;
}
.w-slide-4 .R-sample{
  background: url(../images/phone-icon4.png) no-repeat;
  background-size: 100% 100%;
}
.L-sample{
    width: 9rem;
    height: 81%;
    bottom: 16%;
    left: -80%;
    background: url(../images/phone-txt.png) no-repeat;
    background-size: 100% 100%;
}
.L-sample h3{
    text-align: center;
    font-size: 0.6rem;
    margin: 0.6rem 1rem 0 1rem;
    padding: 0.3rem 0;
    padding-top: .8rem;
    border-bottom: 1px solid #622602;
}
.L-sample .box{
    position: absolute;
    width: 74%;
    margin: 0 1rem;
}
.L-sample h3,.L-sample h5,.L-sample h6{
  color: #622602;
}
.L-sample h5{
  position: relative;
  margin-top: 0.3rem;
  font-size: 0.5rem;
  padding-left: 0.4rem;
}
.L-sample h5:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0.1rem;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  background: #622602;
}
.L-sample h6{
  font-size: 0.46rem;
  margin-top: 0.2rem;
}
.L-sample p{
  margin-top: 0.14rem;
  font-size: 0.4rem;
  line-height: 0.5rem;
}

.competition-box>span{
  display: block;
  /*width: 0.8rem;
  height: 1.4rem;
  top: 10.6rem;*/
  width: 7%;
  height: 6.8%;
  top: 46%;
  z-index: 10;
}
.point-L{
  left: 0.3rem;
  background: url(../images/L6.png) no-repeat;
  background-size: 100% 100%;
}
.point-R{
  right: 0.3rem;
  background: url(../images/R6.png) no-repeat;
  background-size: 100% 100%;
}
.point-box{
  width: 22%;
  margin: 2.4rem auto;
  overflow: hidden;
  text-align: center;
}
.point-box span{
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: url(../images/point-nomal.png) no-repeat;
  background-size: 100% 100%;
  float: left;
}
.point-box span:nth-child(2){
  margin:0 0.6rem;
}


/*轮播*/
.swiper{
  /*width: 10.8rem;
  height: 17rem;*/
  width: 200%;
  height: 77%;
}
.raiders-pagination{
    position: absolute;
    bottom: 2rem !important;
    text-align: center;
}
.swiper-pagination-bullet{
  margin: 0 auto;
  width: 0.5rem;
  height: 0.5rem;
  background: none;
  background: url(../images/point-nomal.png) no-repeat;
  background-size: 100% 100%;
}
.swiper-pagination-bullet-active{
  background: url(../images/point-active.png) no-repeat;
  background-size: 100% 100%;
}
.swiper-pagination-clickable {
  text-align: center;
}

/*视频播放*/
.movie{
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  top: 0;
  left: 0;
}
.movie #diamond-story{
  width: 6.47rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: none;
}


.icp {
  position: absolute;
  width: 100%;
  height: .5rem;
  line-height: .5rem;
  text-align: center;
  left: 0;
  bottom: .2rem;
  font-size: .35rem;
  z-index: 55;
  color: #fff;
  opacity: .8;
}


@media screen and (max-width: 320px){
  .model .li2 .plot{
    width: 1.4rem;
    height: 1.4rem;
  }
  .pic-scroll .txt{
    top: 5%;
  }
  .pic-scroll h4,.pic-scroll p{
    font-size: 12px;
  }
  .pic-scroll .txt .img{
    width: 0.6rem;
    height: 0.8rem;
  }
  .pic-scroll h4{
    margin: 0 auto;
  }
  
}